header {
  background: url(./img/sliderV2.png) center/cover;
  color: $white1;
  min-height: 100vh;

  nav {
    position: fixed;
    top: 0;
    transition: top 0.3s ease;
    box-shadow: 0 0 3px #333;
    text-transform: uppercase;
    width: 100%;
    z-index: 1000;
    height: 120px;

    .nav-elements {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 15px;
      font-size: 18px;

      > ul {
        display: flex;
        list-style-type: none;
      }

      li {
        position: relative; /* Important pour positionner les sous-menus */
        margin: 0 10px;
        height: 45px;
        border-radius: 20px;

        a {
          background: $grey1;
          color: $white1;
          text-decoration: none;
          display: block;
          height: 100%;
          width: 100%;
          padding: 12px 20px; // Ajuster le padding pour centrer le texte
          transition: background 0.3s ease, transform 0.3s ease;
          border-radius: 20px;

          &:hover {
            background: black;
          }
        }

        .sous-nav {
          display: none;
          position: absolute;
          top: 100%; /* Positionner en dessous du parent */
          left: 0;

          border-radius: 20px;
          z-index: 1000;
          transition: 0.5s ease;
          text-align: left;

          li {
            white-space: nowrap;
            a {
              color: $white1;
              text-decoration: none;
              padding: 10px auto; /* Ajuster le padding si nécessaire */
              display: block;
              transition: background 0.5s ease;

              &:hover {
                background: black;
                border-radius: 20px;
                padding: 10px auto;
              }
            }
          }
        }

        &:hover .sous-nav {
          display: block;
        }
      }
    }
  }
}
