.section1 {
  padding: 0 15px 65px;
  min-height: 100vh; // S'assure que la section prend toute la hauteur de la vue
  background: linear-gradient(to right, blue, pink);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .nav {
    position: fixed;
    top: -50px;
    width: 100%;
    background: $white1;
    color: $black1;
    transition: 0.4s;
    z-index: 1000;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .section1-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px; // Ajoutez un padding-top pour compenser la hauteur du header
    height: auto;

    .new-member {
      @include chilCenter;
      flex-direction: column;
      border: 4px solid $bleu1;
      margin: 0 auto;
      padding: 20px 20px; // Ajustez le padding pour centrer le contenu
      width: auto;
      max-width: 100%;
      background: $grey2;

      h3 {
        font-family: $font3;
        font-weight: 400;
        font-size: 30px;
        line-height: 46px;
        color: $bleu1;
      }

      p {
        font-family: $font2;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: $white1;
      }

      .nm-btn {
        padding: 20px;

        .btn1 {
          font-family: $font2;
          font-weight: 400;
          color: $white1;
          font-size: 20px;
          line-height: 18px;
          letter-spacing: 4px;
          background: $bleu1;
          cursor: pointer;
          padding: 15px 40px;
          border-radius: 110px / 40px;
          border: none;
          width: 100%;
          line-height: 24px;
          font-size: 17px;
          color: $grey2;
          transform: translateX(0);
          transition: 0.5s;

          &:hover {
            transform: scale(1.1);
            background: $bleu1;
            color: $white1;
            transform: translateX(-20px);
          }
        }
      }
    }

    .btn-connect {
      @include chilCenter;
      padding: 90px;

      .btn2 {
        border: 4px solid $bleu1;
        background: $white1;
        border-radius: 90px / 50px;
        padding: 40px 50px;
        cursor: pointer;
        font-family: $font1;
        color: $bleu1;
        transition: 0.2s;

        &:hover {
          transform: scale(0.8);
          background: $bleu1;
          color: $white1;
          border: 4px solid $white1;
        }
      }
    }

    .separateur {
      display: flex;
      justify-content: space-between;
      border-bottom: 3px dashed #ffffff; // Remplacez $white1 par la couleur appropriée
      padding: 20px 0;
      width: 25%;
      align-items: center;
      position: absolute; // Permet de centrer l'élément
      top: 110%;
      left: 50%;
      transform: translate(-50%, -50%); // Centre parfaitement l'élément
    }
    #nouveaute {
      text-transform: uppercase;
      color: $grey1;
      background: $white1;
      padding: 15px 20px;
      font-family: $font3;
      border: 4px groove $bleu1;
    }
  }

  .section1-down {
    display: flex; // Changez la disposition en flex
    justify-content: space-between; // Espace entre les vidéos
    align-items: center;
    padding-top: 50px; // Ajoutez du padding-top pour espacer correctement les sections
    width: 100%; // Assurez-vous que la section prenne toute la largeur

    iframe {
      margin: 20px;
      width: 48%; // Ajustez la largeur des iframes pour les agrandir
      height: calc(48% * 401 / 713); // Maintenir le rapport d'aspect
    }

    .btn-video {
      @include chilCenter;
      margin-top: 20px;
    }
  }

  .btn3 {
    background: $white1;
    color: $bleu1;
    border: 1px solid $bleu1;
    padding: 30px auto;
    margin: 0 auto;
    width: 120px;
    cursor: pointer;
    transition: 0.2s;
    font-family: $font2;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
      background: $grey1;
      color: $bleu1;
    }
  }

  .section-video-container1,
  .section-video-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; // Ajustez la largeur des conteneurs vidéo
  }
}
