.section1 {
  min-height: 100vh; // S'assure que la section prend toute la hauteur de la vue
  background: linear-gradient(to right, blue, pink);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .section1-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    height: auto;

    .new-member {
      @include childCenter;
      flex-direction: column;
      border: 4px solid $bleu1;
      margin: 0 auto;
      padding: 20px 20px; // Ajustez le padding pour centrer le contenu
      width: auto;
      max-width: 100%;
      background: $grey2;

      h3 {
        font-family: $font3;
        font-weight: 400;
        font-size: 30px;
        line-height: 46px;
        color: $bleu1;

        @media screen and (max-width: 800px) {
          font-size: 26px;
        }
      }

      p {
        font-family: $font2;
        font-weight: 700;
        font-size: 20px;
        line-height: 16px;
        color: $white1;

        @media screen and (max-width: 800px) {
          font-size: 16px;
        }
      }

      .nm-btn {
        padding: 20px;

        .btn1 {
          text-transform: uppercase;
          font-family: $font2;
          font-weight: 400;
          color: $white1;
          font-size: 20px;
          line-height: 18px;
          letter-spacing: 4px;
          background: $bleu1;
          cursor: pointer;
          padding: 15px 40px;
          border-radius: 110px / 40px;
          border: none;
          width: 100%;
          line-height: 24px;
          font-size: 17px;
          color: $grey2;
          transform: translateX(0);
          transition: 0.5s;
          @media screen and (max-width: 800px) {
            font-size: 14px;
          }

          &:hover {
            transform: scale(1.1);
            background: $bleu1;
            color: $white1;
            transform: translateX(-20px);
          }
        }
      }
    }

    .btn-connect {
      @include childCenter;
      padding: 60px 25px 40px 40px;

      .btn2 {
        border: 4px solid $bleu1;
        background: $white1;
        border-radius: 190px / 60px;
        padding: 40px 50px;
        font-size: 25px;
        cursor: pointer;
        font-family: $font1;
        color: $bleu1;
        transition: 0.2s;
        @media screen and (max-width: 800px) {
          font-size: 20px;
        }

        &:hover {
          transform: scale(0.8);
          background: $bleu1;
          color: $white1;
          border: 4px solid $white1;
        }
      }
    }

    #nouveaute {
      text-transform: uppercase;
      color: $grey1;
      background: $white1;
      padding: 15px 20px;
      font-family: $font3;
      border: 4px groove $bleu1;
      @media screen and (max-width: 800px) {
        display: none;
      }

      h3 {
        margin-top: 0;
        padding: 60px 40px 40px 40px;
      }
    }
  }

  .section1-down {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 640px) {
      display: grid;
      grid-template-columns: 1fr;
    }

    .section-video-container1 {
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      position: relative;

      .btn-video {
        @include childCenter;
        margin-bottom: 20px;
      }
      .btn3 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 200px;
        height: 50px;
        border-radius: 5px;
        border: none;
        background-color: $white1;
        color: $bleu1;
        text-transform: uppercase;
        font-size: 1em;
        cursor: pointer;
        transition: 0.4s;
        @media screen and (max-width: 800px) {
          font-size: 0.8em;
        }

        &:hover {
          border: 3px solid $bleu1;
          transform: scale(1.1);
        }
      }

      iframe {
        border: 5px solid $grey1;
      }
    }
    .section-video-container2 {
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      position: relative;

      .btn-video {
        @include childCenter;
        margin-bottom: 20px;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 200px;
        height: 50px;
        border-radius: 5px;
        border: none;
        background-color: $white1;
        color: $bleu1;
        text-transform: uppercase;
        font-size: 1em;
        cursor: pointer;
        transition: 0.4s;

        @media screen and (max-width: 800px) {
          font-size: 0.8em;
        }

        &:hover {
          border: 3px solid $bleu1;
          transform: scale(1.1);
        }
      }

      iframe {
        border: 5px solid $grey1;
      }
      a {
        text-decoration: none;
        z-index: 1000;
      }
    }
  }
}
