.section3 {
  background: linear-gradient(to right, blue, pink);
  color: $white1;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;

  .sec3-btn {
    padding: 150px 20px 65px;
  }

  button {
    color: $bleu3;
    background: pink;
    line-height: 16px;
    font-weight: 16px;
    font-size: 16px;
    border: 4px solid $bleu3;
    width: 50%;
    cursor: pointer;
    margin: 15px auto;
    border-radius: 60px /40px;
    padding: 20px 20px;
    margin-top: 5px;
    text-transform: uppercase;
    transition: 0.5s;
    transform: translate(0);
    &:hover {
      transform: scale(0.8);
      background: transparent;
      color: pink;
      border: 4px solid $bleu3;
      font-weight: 900;
      transform: translateX(-20px);
      text-shadow: 10px -4px 13px #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    }
  }
  .section3-container-public {
    background: url(./img/sec3pub.png) center/cover;
    width: 100%;
    height: 100%;
  }

  .section3-container-vip {
    background: url(./img/sec3vip.png) center/cover;
    width: 100%;
    height: 100%;
  }
}
