@font-face {
  font-family: "Corben";
  src: url(./fonts/Corben-Regular.ttf);
}
@font-face {
  font-family: "Futura";
  src: url(./fonts/FuturaRenner-Regular.otf);
}
@font-face {
  font-family: "Museo";
  src: url(./fonts/MuseoModerno-VariableFont_wght.ttf);
}

$font1: Corben, "montserrat";
$font2: Futura, open;
$font3: Museo, serif;
$black1: rgb(0, 0, 0);
$bleu1: rgb(0, 46, 93);
$bleu2: rgb(18, 169, 232);
$bleu3: rgb(35, 102, 205);
$bleu4: rgb(118, 178, 238);
$grey1: rgb(128, 128, 128);
$grey2: rgb(194, 192, 192);
$white1: rgb(250, 250, 250);
$violet1: rgb(170, 115, 211);

@mixin childCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin alignChildren($space) {
  display: flex;
  align-items: center;
  justify-content: $space;
}
/* Style pour les liens non visités */
a:link {
  color: $black1;
}

/* Style pour les liens visités */
a:visited {
  color: $bleu1;
  background: $bleu1;
}

/* Enlever le soulignement pour tous les liens */
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
body {
  text-align: center;
  font-family: $font2;
  background: $white1;
}
