@charset "UTF-8";
@font-face {
  font-family: "Corben";
  src: url(./fonts/Corben-Regular.ttf);
}
@font-face {
  font-family: "Futura";
  src: url(./fonts/FuturaRenner-Regular.otf);
}
@font-face {
  font-family: "Museo";
  src: url(./fonts/MuseoModerno-VariableFont_wght.ttf);
}
/* Style pour les liens non visités */
a:link {
  color: rgb(0, 0, 0);
}

/* Style pour les liens visités */
a:visited {
  color: rgb(0, 46, 93);
  background: rgb(0, 46, 93);
}

/* Enlever le soulignement pour tous les liens */
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  text-align: center;
  font-family: Futura, open;
  background: rgb(250, 250, 250);
}

header {
  background: url(./img/sliderV2.png) center/cover;
  color: rgb(250, 250, 250);
  min-height: 100vh;
}
header nav {
  position: fixed;
  width: 100%;
  height: 50px;
  top: -60px;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  z-index: 1000;
  text-transform: uppercase;
}
header nav li {
  background: rgb(194, 192, 192);
  font-size: 1.3em;
}
header nav .burger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1001;
}
header nav .burger-menu span {
  width: 100%;
  height: 3px;
  background: rgb(250, 250, 250);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 640px) {
  header nav .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header nav .nav-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}
@media screen and (max-width: 640px) {
  header nav .nav-elements {
    display: none;
  }
}
header nav .nav-elements.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  width: 20%;
  background: rgb(194, 192, 192);
  z-index: 1000;
}
header nav .nav-elements.active .nav-items {
  background: rgb(194, 192, 192);
  border-radius: 10px;
  padding: 10px;
}
header nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .nav-items li {
  margin: 10px 0;
  text-transform: uppercase;
  background: none;
  text-align: center;
  border: 2px solid rgb(0, 46, 93);
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 15px;
  line-height: 10px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 8px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
}
@media screen and (max-width: 800px) {
  header nav .nav-items li {
    font-size: 15px;
  }
}
@media screen and (max-width: 640px) {
  header nav .nav-items li {
    width: auto;
    display: block;
  }
}
header nav .nav-items li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
header .header-text {
  height: 88vh;
}

.section1 {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(blue), to(pink));
  background: linear-gradient(to right, blue, pink);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section1 .section1-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  height: auto;
}
.section1 .section1-up .new-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 4px solid rgb(0, 46, 93);
  margin: 0 auto;
  padding: 20px 20px;
  width: auto;
  max-width: 100%;
  background: rgb(194, 192, 192);
}
.section1 .section1-up .new-member h3 {
  font-family: Museo, serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
  color: rgb(0, 46, 93);
}
@media screen and (max-width: 800px) {
  .section1 .section1-up .new-member h3 {
    font-size: 26px;
  }
}
.section1 .section1-up .new-member p {
  font-family: Futura, open;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  color: rgb(250, 250, 250);
}
@media screen and (max-width: 800px) {
  .section1 .section1-up .new-member p {
    font-size: 16px;
  }
}
.section1 .section1-up .new-member .nm-btn {
  padding: 20px;
}
.section1 .section1-up .new-member .nm-btn .btn1 {
  text-transform: uppercase;
  font-family: Futura, open;
  font-weight: 400;
  color: rgb(250, 250, 250);
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 4px;
  background: rgb(0, 46, 93);
  cursor: pointer;
  padding: 15px 40px;
  border-radius: 110px/40px;
  border: none;
  width: 100%;
  line-height: 24px;
  font-size: 17px;
  color: rgb(194, 192, 192);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 800px) {
  .section1 .section1-up .new-member .nm-btn .btn1 {
    font-size: 14px;
  }
}
.section1 .section1-up .new-member .nm-btn .btn1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: rgb(0, 46, 93);
  color: rgb(250, 250, 250);
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}
.section1 .section1-up .btn-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 25px 40px 40px;
}
.section1 .section1-up .btn-connect .btn2 {
  border: 4px solid rgb(0, 46, 93);
  background: rgb(250, 250, 250);
  border-radius: 190px/60px;
  padding: 40px 50px;
  font-size: 25px;
  cursor: pointer;
  font-family: Corben, "montserrat";
  color: rgb(0, 46, 93);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 800px) {
  .section1 .section1-up .btn-connect .btn2 {
    font-size: 20px;
  }
}
.section1 .section1-up .btn-connect .btn2:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background: rgb(0, 46, 93);
  color: rgb(250, 250, 250);
  border: 4px solid rgb(250, 250, 250);
}
.section1 .section1-up #nouveaute {
  text-transform: uppercase;
  color: rgb(128, 128, 128);
  background: rgb(250, 250, 250);
  padding: 15px 20px;
  font-family: Museo, serif;
  border: 4px groove rgb(0, 46, 93);
}
@media screen and (max-width: 800px) {
  .section1 .section1-up #nouveaute {
    display: none;
  }
}
.section1 .section1-up #nouveaute h3 {
  margin-top: 0;
  padding: 60px 40px 40px 40px;
}
.section1 .section1-down {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 640px) {
  .section1 .section1-down {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.section1 .section1-down .section-video-container1 {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}
.section1 .section1-down .section-video-container1 .btn-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.section1 .section1-down .section-video-container1 .btn3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: rgb(250, 250, 250);
  color: rgb(0, 46, 93);
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media screen and (max-width: 800px) {
  .section1 .section1-down .section-video-container1 .btn3 {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 640px) {
  .section1 .section1-down .section-video-container1 .btn3 {
    display: none;
  }
}
.section1 .section1-down .section-video-container1 .btn3:hover {
  border: 3px solid rgb(0, 46, 93);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.section1 .section1-down .section-video-container1 iframe {
  border: 5px solid rgb(128, 128, 128);
}
.section1 .section1-down .section-video-container2 {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}
.section1 .section1-down .section-video-container2 .btn-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.section1 .section1-down .section-video-container2 button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: rgb(250, 250, 250);
  color: rgb(0, 46, 93);
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media screen and (max-width: 800px) {
  .section1 .section1-down .section-video-container2 button {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 640px) {
  .section1 .section1-down .section-video-container2 button {
    display: none;
  }
}
.section1 .section1-down .section-video-container2 button:hover {
  border: 3px solid rgb(0, 46, 93);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.section1 .section1-down .section-video-container2 iframe {
  border: 5px solid rgb(128, 128, 128);
}
.section1 .section1-down .section-video-container2 a {
  text-decoration: none;
  z-index: 1000;
}

.section2 {
  position: relative;
  min-height: 100vh;
}
.section2 button {
  cursor: pointer;
  font-family: Museo, serif;
  text-transform: uppercase;
}
.section2 button:hover {
  background: rgb(250, 250, 250);
  color: rgb(35, 102, 205);
  background: pink;
  border: 4px solid rgb(35, 102, 205);
}
.section2 img {
  width: 100px;
  height: 100px;
}
.section2 .groupe {
  display: grid;
  grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  height: 50vh;
}
@media screen and (max-width: 640px) {
  .section2 .groupe {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.section2 .groupe .btn-groupe {
  padding: 10px 20px;
}
.section2 .groupe .groupe-VIP {
  background: -webkit-gradient(linear, left top, right top, from(pink), to(blue));
  background: linear-gradient(to right, pink, blue);
}
.section2 .groupe .groupe-public {
  background: -webkit-gradient(linear, left top, right top, from(blue), to(pink));
  background: linear-gradient(to right, blue, pink);
}
.section2 .groupe .groupe-public,
.section2 .groupe .groupe-VIP {
  border: 2px solid rgb(128, 128, 128);
  margin: 0 20px;
  padding: 10px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1110px;
}
@media screen and (max-width: 640px) {
  .section2 .groupe .groupe-public,
  .section2 .groupe .groupe-VIP {
    margin: auto 0;
  }
}
.section2 .groupe .groupe-public .container-btn,
.section2 .groupe .groupe-VIP .container-btn {
  color: rgb(128, 128, 128);
  background: transparent;
  line-height: 16px;
  font-weight: 16px;
  font-size: 16px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4px solid rgb(35, 102, 205);
          order: 4px solid rgb(35, 102, 205);
  width: 60%;
  margin: 20px auto;
  border-radius: 60px/40px;
  padding: 20px 20px;
  margin-top: 5px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section2 .groupe .groupe-public .container-btn:hover,
.section2 .groupe .groupe-VIP .container-btn:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background: rgb(250, 250, 250);
  color: rgb(35, 102, 205);
  background: pink;
  border: 4px solid rgb(35, 102, 205);
}
.section2 .groupe .groupe-public h3,
.section2 .groupe .groupe-VIP h3 {
  font-family: Museo, serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
  color: rgb(250, 250, 250);
}
.section2 .groupe .groupe-public p,
.section2 .groupe .groupe-VIP p {
  color: rgb(250, 250, 250);
  font-family: Corben, "montserrat";
  line-height: 20px;
  font-size: 14px;
  font-weight: 20px;
}
.section2 .container-btn {
  width: 300px;
  height: 200px;
  display: inline-block;
  text-align: center;
}
.section2 .container-btn #btn-projet {
  padding: 10px 20px;
  background: rgb(128, 128, 128);
  color: rgb(250, 250, 250);
  border: none;
  font-size: 20px;
  line-height: 20px;
  background: -webkit-gradient(linear, left top, right top, from(blue), to(pink));
  background: linear-gradient(to right, blue, pink);
  margin: 4px 2px;
  border-radius: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Futura, open;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 60px;
}
.section2 .container-btn #btn-projet:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: rgb(250, 250, 250);
  color: rgb(35, 102, 205);
  background: pink;
  border: 4px solid rgb(35, 102, 205);
}
.section2 .section2-container-projet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 50vh;
  border: 2px solid rgb(0, 0, 0);
  margin-bottom: 30px;
  margin: 40px 110px;
}
@media screen and (max-width: 640px) {
  .section2 .section2-container-projet {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
}
.section2 .section2-container-projet .container-left {
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  margin-left: 20px;
}
.section2 .container-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 1fr 1fr;
  grid-template-areas: "a b" "c d";
  gap: 20px;
}
.section2 .container-left #new {
  font-family: Futura, open;
  font-size: 1.5rem;
}
.section2 .container-left .label-1 {
  grid-area: a;
  padding: 25px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
}
.section2 .container-left .select-1 {
  grid-area: b;
  padding: 10px 10px;
  margin: 0 auto;
}
.section2 .container-left .label-2 {
  grid-area: c;
  padding: 25px 25px;
  margin: 0 auto;
  margin: 0 auto;
}
.section2 .container-left .select-2 {
  grid-area: d;
  padding: 25px 25px;
  margin: 0 auto;
}
.section2 .container-right {
  background: url(./img/reset.jpg) center/cover;
}
@media screen and (max-width: 640px) {
  .section2 .container-right {
    display: none;
  }
}

.section3 {
  background: -webkit-gradient(linear, left top, right top, from(blue), to(pink));
  background: linear-gradient(to right, blue, pink);
  color: rgb(250, 250, 250);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 640px) {
  .section3 {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.section3 .sec3-btn {
  padding: 150px 20px 65px;
}
.section3 button {
  color: rgb(35, 102, 205);
  background: pink;
  line-height: 16px;
  font-weight: 16px;
  font-size: 16px;
  border: 4px solid rgb(35, 102, 205);
  width: 50%;
  cursor: pointer;
  margin: 15px auto;
  border-radius: 60px/40px;
  padding: 20px 20px;
  margin-top: 5px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(0);
          transform: translate(0);
}
.section3 button:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background: transparent;
  color: pink;
  border: 4px solid rgb(35, 102, 205);
  font-weight: 900;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  text-shadow: 10px -4px 13px #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.section3 .section3-container-public {
  background: url(./img/sec3pub.png) center/cover;
  width: 100%;
  height: 100%;
}
.section3 .section3-container-vip {
  background: url(./img/sec3vip.png) center/cover;
  width: 100%;
  height: 100%;
}

.section4 {
  min-height: 100vh;
  background: url(./img/section4.webp) fixed center/cover;
  color: rgb(250, 250, 250);
  padding: 50px;
}
.section4 #titleenbiais {
  margin-top: 250px;
  font-family: Corben, "montserrat";
  display: inline-block;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  font-size: 2rem;
  letter-spacing: 0.8rem;
  border: 1px solid rgb(0, 0, 0);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 640px) {
  .section4 #titleenbiais {
    font-size: 1.4rem;
  }
}
.section4 .section4-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
.section4 .section4-down .sec4dn-left,
.section4 .section4-down .sec4dn-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  padding: 20px;
}
.section4 .section4-down .video-container video {
  width: 50%;
  max-width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.section4 .section4-down h4,
.section4 .section4-down h2 {
  font-family: Futura, open;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.section4 .section4-down h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.section4 .section4-down h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.section4 .section4-down .sec4-btn button {
  padding: 10px 20px;
  font-size: 1rem;
  color: rgb(35, 102, 205);
  background: pink;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 60px/40px;
  padding: 20px 20px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}
.section4 .section4-down .sec4-btn button:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background: transparent;
  color: pink;
  border: 4px solid rgb(35, 102, 205);
  font-weight: 900;
  text-shadow: 20px -14px 18px #bf5bd4, 1px -1px 0 rgba(201, 17, 207, 0.5803921569), -1px 1px 14px rgba(105, 21, 108, 0.8392156863), 13px -7px 7px rgba(182, 125, 196, 0.5882352941);
}

footer {
  min-height: 50vh;
}
footer .container-footer {
  display: grid;
  grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 640px) {
  footer .container-footer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
}
footer .container-footer .footer-left {
  padding-right: 50px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container-footer .footer-left a {
  font-family: Corben, "montserrat";
  color: rgb(0, 0, 0);
  font-weight: 800;
  margin: 0;
}
footer .container-footer .footer-left span {
  font-family: Museo, serif;
  text-transform: uppercase;
  margin: 20px;
}
footer .container-footer .footer-left img {
  width: 80px;
  height: 80px;
  margin: 50px;
}
footer .container-footer .footer-left .logo-socialreseau i {
  margin: 0 10px;
  opacity: 0.5;
  cursor: pointer;
  color: rgb(250, 250, 250);
}
footer .container-footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 20px 50px;
}
footer .container-footer .footer-right h3 {
  margin-bottom: 20px;
}
footer .container-footer .footer-right form {
  width: 100%;
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container-footer .footer-right form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 5px;
  text-transform: uppercase;
}
footer .container-footer .footer-right form input[type=text],
footer .container-footer .footer-right form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
}
footer .container-footer .footer-right form input[type=submit] {
  padding: 10px 20px;
  margin: 15px auto;
  border: 4px solid rgb(35, 102, 205);
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(18, 169, 232);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: translate(0);
          transform: translate(0);
}
footer .container-footer .footer-right form input[type=submit]:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background: transparent;
  color: rgb(35, 102, 205);
  border: 4px solid rgb(18, 169, 232);
  font-weight: 700;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}
footer .footer-bottom {
  background-color: rgb(0, 0, 0);
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
footer .footer-bottom .logo-site img {
  width: 40px;
  margin-left: 20px;
}
footer .footer-bottom .footer-info {
  margin-right: 20px;
  color: rgb(250, 250, 250);
}
footer .footer-bottom .logo-socialreseau {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-bottom .logo-socialreseau a {
  color: rgb(250, 250, 250);
  margin: 0 10px;
}
footer .footer-bottom .logo-socialreseau a i {
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
footer .footer-bottom .logo-socialreseau a i:hover {
  opacity: 1;
}/*# sourceMappingURL=index.css.map */