@charset "UTF-8";
@font-face {
  font-family: "Corben";
  src: url(./fonts/Corben-Regular.ttf);
}
@font-face {
  font-family: "Futura";
  src: url(./fonts/FuturaRenner-Regular.otf);
}
@font-face {
  font-family: "Museo";
  src: url(./fonts/MuseoModerno-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  text-align: center;
  font-family: Futura, open;
  background: rgb(128, 128, 128);
}

header {
  background: url(./img/header.png) center/cover;
  padding: 0 50px;
  color: rgb(250, 250, 250);
  min-height: 100vh;
  position: relative;
}
header nav {
  height: 12vh;
  display: grid;
}
header nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: rgb(128, 128, 128);
  height: 40px;
  width: auto;
  margin: 0 auto;
}
header nav ul li {
  font-size: 15px;
  line-height: 10px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 8px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav ul li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
header .header-text {
  height: 88vh;
}

.section1 {
  padding: 100px 15px 65px;
  min-height: 400px;
  background: -webkit-gradient(linear, left top, right top, from(blue), to(pink));
  background: linear-gradient(to right, blue, pink);
}
.section1 .section1-up {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
}
.section1 .section1-up .new-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 4px solid rgb(0, 46, 93);
  margin: 0 auto;
  padding: 300px auto;
  width: 50%;
  max-width: 50%;
  background: rgb(128, 128, 128);
}
.section1 .section1-up .new-member h3 {
  font-family: Museo, serif;
  font-weight: 400;
  font-style: 40px;
  line-height: 56px;
  color: rgb(0, 46, 93);
}
.section1 .section1-up .new-member p {
  font-family: Futura, open;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: rgb(250, 250, 250);
}
.section1 .section1-up .new-member .nm-btn {
  padding: 20px;
}
.section1 .section1-up .new-member .nm-btn .btn1 {
  font-family: Futura, open;
  font-weight: 400;
  color: rgb(250, 250, 250);
  font-size: 20px;
  line-height: 20px;
  background: rgb(0, 46, 93);
  cursor: pointer;
  padding: 15px 40px;
  border-radius: 110px/40px;
  border: none;
  width: 100%;
  line-height: 24px;
  font-size: 17px;
  color: rgb(128, 128, 128);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section1 .section1-up .new-member .nm-btn .btn1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: rgb(0, 46, 93);
  color: rgb(250, 250, 250);
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}
.section1 .section1-up .btn-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 90px;
}
.section1 .section1-up .btn-connect .btn2 {
  border: 4px solid rgb(0, 46, 93);
  background: rgb(250, 250, 250);
  border-radius: 90px/50px;
  padding: 40px 50px;
  cursor: pointer;
  font-family: Corben, "montserrat";
  color: rgb(0, 46, 93);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section1 .section1-up .btn-connect .btn2:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background: rgb(0, 46, 93);
  color: rgb(250, 250, 250);
  border: 4px solid rgb(250, 250, 250);
}
.section1 .section1-up .separateur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px dashed #ffffff; /* Remplacez $white1 par la couleur appropriée */
  padding: 20px 0;
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute; /* Permet de centrer l'élément */
  top: 110%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); /* Centre parfaitement l'élément */
}
.section1 .section1-down {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  margin: 0 auto;
  height: 50vh;
}
.section1 .section1-down .btn-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}
.section1 .section1-down button {
  background: rgb(135, 130, 130);
  color: rgb(0, 46, 93);
  border: 1px solid rgb(0, 46, 93);
  padding: 30px auto;
  margin: 0 auto;
  width: 120px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: Futura, open;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s;
}
.section1 .section1-down button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: rgb(128, 128, 128);
  color: rgb(0, 46, 93);
}
.section1 .section1-down .section-video-container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  max-width: 50%;
}
.section1 .section1-down .section-video-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  max-width: 50%;
}/*# sourceMappingURL=index.css.map */